*{
  float: none;
  margin: none;
  
}

body {
  min-height: 100dvh;
  font-family: 'Open Sans', sans-serif;

  background-color: #efefef;
  width: 100%;
}

.App{
  min-width: 100%;
  min-height: 100dvh;
}





